header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
}

.header_top {
    display: flex;
    width: 20%;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

header img {
    height: 30px;
}

.header_bottom {
    padding-top: 3px;
    padding-left: 30px;
}

header h1 {
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 10%);
}

.notice_container {}