*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
  background-color: #02111B;
}

body{
  min-height: 90%;
  width: 100%;
  min-width: 320px;
  padding-bottom: 60px;
}

footer{
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  background-color: #0F212D;
}

footer .button_container_menu{
  height: 80%;
  width: 80%;
  display: flex;
  margin: auto;
}

.button_menu_1, .button_menu_2, .button_menu_3{
  height: 100%;
  width: 12%;
  background-color: #A5B1E6;
  margin: auto;
  border-radius: 10px;
}