header{
  height: 30px;
  width: 100%;
  display: flex;
  background-color: #384EB2;
  padding: 0px 4%;
}

.headerTodo_switcher_1, .headerTodo_switcher_2{
  height: 90%;
  width: 25%;
  display: flex;
  margin: auto;
}

.headerTodo_switcher_1 h6, .headerTodo_switcher_2 h6{
  color: #fff;
  margin: auto;
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.headerTodo_switcher_1 img{
  margin-right: auto;
  height: 100%;
}

.headerTodo_switcher_2 img{
  margin-left: auto;
  height: 100%;
}

.headerTodo_title{
  height: 100%;
  width: 50%;
  display: flex;
}

.headerTodo_title h1{
  color: #fff;
  margin: auto;
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.createBtn{
  position: fixed;
  bottom: 60px;
  right: 1%;
  z-index: 20;
  height: 60px;
  width: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  box-shadow: -6px 2px 8px #00000099;
  background-color: #384EB2;
}
