* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #0D1D27;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
}

header img {
    margin: auto;
    height: 70%;
}

header h1 {
    margin: auto;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    font-size: 50px;
}

header span {
    color: #5876F8;
}

main {
    height: 70%;
    width: 100%;
    display: flex;
}

.form_container {
    margin: auto;
    height: auto;
    min-height: 75%;
    width: 88%;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 2px #00000059;
    background-color: #0F212D;
    display: flex;
    flex-direction: column;
}

.form_header {
    height: 10%;
    position: absolute;
    width: 88%;
    margin-top: -10%;
    display: flex;
}

.connexion_tab {
    z-index: 2;
    background-color: #0F212D;
    height: 100%;
    width: 45%;
    display: flex;
    box-shadow: 3px -1px 2px 0px #0a171e, -1px -2px 3px 0px #0a171e;
    border-radius: 5px 5px 0px 0px;
    align-items: center;
    text-align: center;
}

.register_tab {
    border-radius: 0px 5px;
    background-color: #5876F8;
    margin-top: auto;
    box-shadow: inset 2px -3px 4px #0000005e;
    height: 70%;
    width: 55%;
    display: flex;
    align-items: center;
    text-align: center;
}

.register_tab h2,
.connexion_tab h2 {
    margin: auto;
    color: #fff;
    font-family: 'Geomanist', sans-serif;
    font-size: 18px;
}

form {
    height: 50%;
    width: 100%;
    margin: auto;
    display: flex;
}

.input_container {
    transition: ease-in-out;
    transition-duration: 0.3s;
    margin: auto;
    margin-left: 8%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.input_container .inputText {
    outline: none;
    margin: 5px 0px;
    height: 45px;
    width: 100%;
    border-radius: 6px;
    border: 3px solid #0C1A23;
    background-color: #0D1D27;
    font-family: 'Geomanist', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: #5C7AFF;
    padding-left: 10px;
}

.input_container .inputText:first-child:focus {
    border: 3px solid #5c7aff;
}

.input_container .inputText:nth-child(2):focus {
    border: 3px solid #5c7aff;
}

.submit_container {
    height: 100%;
    width: 20%;
    margin: auto;
    left: 0px;
    display: flex;
}

form .sender {
    outline: none;
    margin: auto;
    border-radius: 5px;
    box-shadow: -3px -1px 0px 1px #506CE6;
    margin-left: -40%;
    background-color: #5C7AFF;
    border: none;
    height: 55px;
    width: 50px;
    background-image: url(../icons/checkmark_52px.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.form_footer {
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    padding-left: calc(8% + 10px);
}

.form_footer h6 {
    margin: 16px 0px;
    color: #9A9A9A;
    font-family: 'Geomanist', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

.form_footer h6:first-child {
    margin-top: 0px;
}

.formFooter_error {
    width: 100%;
}

.formFooter_error h6 {
    margin: 16px 0px;
    color: #b43030;
    font-family: 'Geomanist', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.formFooter_link {
    width: 100%;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------RESPONSIVE------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*Responsive hauteur.*/

@media screen and (max-height: 420px) {
    header {
        display: none;
    }
    main {
        height: 100%;
    }
}

@media screen and (max-height: 500px) {
    .register_tab h2,
    .connexion_tab h2 {
        font-size: 16px;
    }
}